/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  background-color: var(--color-bg);
}

table {
  font-family: 'IBM Plex Sans KR', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  width: 50%;
  padding: 10px;
}