

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
}

input {
  width: calc(100% - 8px);
  height: 20px;
  margin-bottom: 8px;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  width: 50%;
  padding: 10px;
}

.edit-buttons {
  width: calc(100% - 8px);
  margin-bottom: 8px;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #EEEEEE;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}